# Don't store sensitive data
github-copilot/*
/gcloud
zed/*
!zed/settings.json
!zed/keymap.json

micro/backups/*
micro/buffers/*

*.log

# [[ Brew ]]
.Brewfile.lock.json

# # Could just force-add these files and leave this as '*', but this way I have a
# # nice explicit list for documentation's sake.
#
# # Ignore everything by default.
# *
#
# # Bash stuff (profile just sources bashrc, since it's the only thing sourced
# # when a shell is a login shell).
.bash_history
.bash_local
.bash_logout
# !.profile

# [[ Git ]]
#
# # Git aliases, identification info
!.gitconfig
# # The gitignore of this repository itself (!)
!.gitignore
# # My global Git excludes file (acts as a global .gitignore)
!.gitexcludes
!.gitignore

lazygit/state.yml

# [[ dotter ]]
.dotter/cache.toml
.dotter/cache
# local configuration specific to machine
.dotter/local.toml

# [[ Zsh ]]
# antidote install .zsh_plugins.txt to .zsh_plugins.zsh
.zsh_plugins.zsh

# No need to track, antidote generates
.zsh_plugins.zsh

# Never include this nonsense
.DS_Store

# [[ Wezterm ]]

# this is configured per system
wezterm/ssh-domains.lua
