[submodule "nvim"]
	path = nvim
	url = https://github.com/AstroNvim/AstroNvim.git

[submodule "astronvim"]
	path = astronvim
	url = https://github.com/GeorgeLeePatterson/astrovim.git
[submodule "nvim-user"]
	path = nvim-user
	url = git@github.com:GeorgeLeePatterson/nvim-user.git
